.container {
  padding: 0 2rem;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.studentsList {
  width: 60%;
  margin: 0 auto;
  display: flex;
  background: #FFFFFF;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
  height: 85%;
  overflow-x: hidden;
  overflow-y: auto;

  .loadingSpinner {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::-webkit-scrollbar {
    width: 0 !important
  }

  -ms-overflow-style: none;

  scrollbar-width: none;

  .searchInputContainer {
    padding: 0 15px;

    .searhInput {
      width: 100%;
      padding: 15px 0 10px 0;
      font-size: 1rem;
      outline: 0;
      border-width: 0 0 1px;
      border-color: #ccc;
      font-family: 'Raleway', 'san-serif';
      color: rgb(147, 147, 147);
  
      &::placeholder {
        font-family: 'Raleway', 'san-serif';
        color: rgb(198, 198, 198);
      }
  
      &:after {
        content: "";
        border-bottom: 1px solid #E7C677;
        width: 88px;
        display: flex;
        margin: 2px auto 0 auto;
      }
    }
  }


  .studentItem {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 10px 20px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    transition: height 0.3s;
    height: auto;

    &.showDetails {
      height: calc(100% + 200px);
    }    

    .sideImage {
      display: flex;
      align-items: start;
      padding: 0.5rem;

      img {
        border-radius: 50%;
        border: 1px solid #e1e1e1;
        width: 110px;
        height: 110px;
      }
    }

    .studentContent {
      strong {
        text-transform: uppercase;
        font-size: 1.5rem;
      }

      .gradesContainer {
        display: flex;
        gap: 1.3rem;
      }

      .studentInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 12px;
        color: rgb(101, 100, 100);
      }

      .grades {
        margin-top: 1.4rem;
      }
    }

    .detailsBtn {
      flex: 1;
      display: flex;
      justify-content: end;

      button {
        cursor: pointer;
      }
    }
  }

  .addTagInput {
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: rgb(156, 156, 156);
    margin-top: 0.6rem;
    padding: 10px 5px;
    font-family: 'Raleway', 'san-serif';

    &::placeholder {
      font-family: 'Raleway', 'san-serif';
      color: rgb(198, 198, 198);
    }
  }

  .expansionBtn {
      border: none;
      background-color: #fff;
      font-size: 20px;
      height: 2.5em;
      width: 2.5em;
      position: relative;
      transition: transform .3s;

      &.expanded {
        transform: rotate(180deg);

        &:before {
          display: none;
        }
      }
      
      &:after,
      &:before {
        content: "";
        display: block;
        background-color: rgb(156, 156, 156);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
      }
      
      &:before {
        height: 1em;
        width: 0.2em;
      }
    
      &:after {
        height: 0.2em;
        width: 1em;
      }
  }

  .submitTag {
    display: none;
  }
  
  .tagsAdded {
    display: flex;
    gap: 6px;

    .tag {
      width: fit-content;
      background: rgb(225, 225, 225);
      padding: 8px;
      border-radius: 4px;
      font-size: 14px;
      color: rgb(46, 46, 46);
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
    height: 100%;
  }

  .studentsList {
    width: 100%;

    .studentItem {
      flex-direction: column;
      gap: 20px;

      .sideImage {
        align-items: center;
        justify-content: center;
      }

      .detailsBtn {
        justify-content: center;
      }
    }
  }
}

